* {
  margin: 0;
}

body {
  text-align: center;
  text-shadow: 0 0 1px black;
  font-family: "Original Surfer", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 500px;
}

a {
  text-decoration: underline;
  color: #1d3557;
}

h3 {
  margin-bottom: 15px;
}

.hero-section {
  color: #f1faee;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
}

.hero-background {
  background-color: #a8dadc;
  background-image: url("images/hero-boardwalk-img.jpg");
  background-repeat: none;
  background-size: cover;
}

.hero-title {
  background-color: #1d3557;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 400px;
  font-weight: bold;
}

.hero-brief-info {
  background-color: #457b9d;
  padding: 10px 10px;
  border-radius: 10px;
  width: 50%;
}

.activities-section {
  color: #1d3557;
  background-color: #f1faee;
}

.activities-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activities-title {
  padding: 20px 0;
}

.activities-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #1d3557;
  margin-bottom: 15px;
}

.activities-beach {
  padding: 10px;
  margin: 10px;
}

.activities-funland {
  padding: 10px;
  margin: 10px;
}

.activities-tanger {
  padding: 10px;
  margin: 10px;
}

.guide-section {
  margin: 40px;
}

.guide-card {
  background: #a8dadc;
  margin: 0 auto;
  display: block;
  padding: 0 20px;
  border-radius: 10px;
  border-bottom: 10px solid #1d3557;
}

.guide-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.guide-card-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #activities-title {
  margin-bottom: 5px;
} */

.guide-bio {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .activities-flex {
    flex-direction: column;
  }
}